# NBA All-Star Weekend Challenge

Your task...answer the following questions given the dataset given about the NBA All-Star Game from the year 2000 - 2016

Become more familiar with the dataset <a href="https://www.kaggle.com/fmejia21/nba-all-star-game-20002016">here</a>

Once completed, commit this notebook to github and submit the link to the google classroom assignment.

<a href="https://classroom.google.com/u/2/c/NDc4MzEzMjI5Nzla/a/NTE3OTYxNzM2OTNa/details">Google Classroom</a>

In [7]:
import pandas as pd
import numpy as np

nbaStats = pd.read_csv('./NBA All Stars 2000-2016 - Sheet1.csv')
nbaStats

,Year,Player,Pos,HT,WT,Team,Selection Type,NBA Draft Status,Nationality
0,2016,Stephen Curry,G,6-3,190,Golden State Warriors,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 7,United States
1,2016,James Harden,SG,6-5,220,Houston Rockets,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 3,United States
2,2016,Kevin Durant,SF,6-9,240,Golden State Warriors,Western All-Star Fan Vote Selection,2007 Rnd 1 Pick 2,United States
3,2016,Kawhi Leonard,F,6-7,230,San Antonio Spurs,Western All-Star Fan Vote Selection,2011 Rnd 1 Pick 15,United States
4,2016,Anthony Davis,PF,6-11,253,New Orleans Pelicans,Western All-Star Fan Vote Selection,2012 Rnd 1 Pick 1,United States
...,...,...,...,...,...,...,...,...,...
434,2000,Antonio McDyess,F,6-9,245,Denver Nuggets,Western All-Star Coaches Selection,1995 Rnd 1 Pick 2,United States
435,2000,Gary Payton,G,6-4,180,Seattle SuperSonics,Western All-Star Coaches Selection,1990 Rnd 1 Pick 2,United States
436,2000,Rasheed Wallace,FC,6-11,230,Portland Trail Blazers,Western All-Star Coaches Selection,1995 Rnd 1 Pick 4,United States
437,2000,David Robinson,C,7-1,250,San Antonio Spurs,Western All-Star Coaches Selection,1987 Rnd 1 Pick 1,United States
438,2000,Vlade Divac,C,7-1,260,Sacramento Kings,Western All-Star Replacement Selection,1989 Rnd 1 Pick 26,Serbia

# What is the average weight of all players who played during this time?

In [9]:
avgWeight = nbaStats.drop_duplicates(['Player'])
avgWeight['WT'].mean()

# Answer: 228 lbs

228.7560975609756

# What team is represented the most during this time?

In [6]:
mostRep = nbaStats.groupby('Team').count().sort_values('Year', ascending=False)
mostRep

# Answer: Miami Heat

,Year,Player,Pos,HT,WT,Selection Type,NBA Draft Status,Nationality
Team,,,,,,,,
Miami Heat,28,28,28,28,28,28,28,28
Boston Celtics,26,26,26,26,26,26,26,26
San Antonio Spurs,25,25,25,25,25,25,25,25
Los Angeles Lakers,25,25,25,25,25,25,25,25
Houston Rockets,20,20,20,20,20,20,20,20
Atlanta Hawks,18,18,18,18,18,18,18,18
Phoenix Suns,18,18,18,18,18,18,18,18
Dallas Mavericks,18,18,18,18,18,18,18,18
Cleveland Cavaliers,17,17,17,17,17,17,17,17
Toronto Raptors,16,16,16,16,16,16,16,16
Detroit Pistons,15,15,15,15,15,15,15,15
Indiana Pacers,15,15,15,15,15,15,15,15
Orlando Magic,14,14,14,14,14,14,14,14
Los Angeles Clippers,14,14,14,14,14,14,14,14
Oklahoma City Thunder,13,13,13,13,13,13,13,13
Washington Wizards,13,13,13,13,13,13,13,13
Minnesota Timberwolves,12,12,12,12,12,12,12,12
New Jersey Nets,12,12,12,12,12,12,12,12
Chicago Bulls,12,12,12,12,12,12,12,12
Philadelphia Sixers,11,11,11,11,11,11,11,11
Sacramento Kings,11,11,11,11,11,11,11,11
Golden State Warriors,11,11,11,11,11,11,11,11
New York Knicks,10,10,10,10,10,10,10,10
Portland Trail Blazers,10,10,10,10,10,10,10,10
New Orleans Hornets,9,9,9,9,9,9,9,9
Utah Jazz,9,9,9,9,9,9,9,9
Denver Nuggets,9,9,9,9,9,9,9,9
Seattle SuperSonics,8,8,8,8,8,8,8,8
Memphis Grizzlies,6,6,6,6,6,6,6,6
Milwaukee Bucks,5,5,5,5,5,5,5,5
New Orleans Pelicans,4,4,4,4,4,4,4,4
Charlotte Hornets,2,2,2,2,2,2,2,2
Brooklyn Nets,2,2,2,2,2,2,2,2
Charlotte Bobcats,1,1,1,1,1,1,1,1

# What draft class is represeted the most during this time?

In [12]:
mostRepClass = nbaStats.groupby('NBA Draft Status').count().sort_values('Player', ascending=False)
mostRepClass

# Answer: Class of 1996 Rnd 1, Pick 13

,Year,Player,Pos,HT,WT,Team,Selection Type,Nationality
NBA Draft Status,,,,,,,,
1996 Rnd 1 Pick 13,16,16,16,16,16,16,16,16
2003 Rnd 1 Pick 1,13,13,13,13,13,13,13,13
1997 Rnd 1 Pick 1,13,13,13,13,13,13,13,13
1998 Rnd 1 Pick 9,13,13,13,13,13,13,13,13
1995 Rnd 1 Pick 5,12,12,12,12,12,12,12,12
...,...,...,...,...,...,...,...,...
2008 Rnd 1 Pick 10,1,1,1,1,1,1,1,1
1996 Rnd 1 Pick 3,1,1,1,1,1,1,1,1
2001 Rnd 1 Pick 2,1,1,1,1,1,1,1,1
1995 Rnd 1 Pick 3,1,1,1,1,1,1,1,1
2013 Rnd 1 Pick 15,1,1,1,1,1,1,1,1

# Are foriegn players more prevalent in the All-Star Game during this time?

In [37]:
nbaStats.groupby(['Nationality']).count().sort_values('Player', ascending=False)

# Answer: United States is much more prevalent in the All-Star games.

,Year,Player,Pos,HT,WT,Team,Selection Type,NBA Draft Status
Nationality,,,,,,,,
United States,365,365,365,365,365,365,365,365
Germany,13,13,13,13,13,13,13,13
Spain,9,9,9,9,9,9,9,9
Canada\nSouth Africa,8,8,8,8,8,8,8,8
China,8,8,8,8,8,8,8,8
France,6,6,6,6,6,6,6,6
Dominican Republic\nUnited States,4,4,4,4,4,4,4,4
United States\nAustralia,4,4,4,4,4,4,4,4
Serbia\nGreece,3,3,3,3,3,3,3,3
Lithuania,2,2,2,2,2,2,2,2
Argentina,2,2,2,2,2,2,2,2
Germany\nUnited States,2,2,2,2,2,2,2,2
England\nSouth Sudan,2,2,2,2,2,2,2,2
Democratic Republic of the Congo,2,2,2,2,2,2,2,2
France\nUnited States,2,2,2,2,2,2,2,2
United States\nGermany,1,1,1,1,1,1,1,1
Turkey,1,1,1,1,1,1,1,1
Greece\nNigeria,1,1,1,1,1,1,1,1
Serbia,1,1,1,1,1,1,1,1
Russia,1,1,1,1,1,1,1,1
Canada,1,1,1,1,1,1,1,1
United States\nSpain,1,1,1,1,1,1,1,1

# How often are the Western All-Stars voted in by fans?

In [21]:
nbaStats[nbaStats['Selection Type'] == 'Western All-Star Fan Vote Selection'].groupby('Year').count()

# Answer: Every year is 5.

      Player  Pos  HT  WT  Team  Selection Type  NBA Draft Status  Nationality
Year
2000       5    5   5   5     5               5                 5            5
2001       5    5   5   5     5               5                 5            5
2002       5    5   5   5     5               5                 5            5
2003       5    5   5   5     5               5                 5            5
2004       5    5   5   5     5               5                 5            5
2005       5    5   5   5     5               5                 5            5
2006       5    5   5   5     5               5                 5            5
2007       5    5   5   5     5               5                 5            5
2008       5    5   5   5     5               5                 5            5
2009       5    5   5   5     5               5                 5            5
2010       5    5   5   5     5               5                 5            5
2011       5    5   5   5     5               5                 5            5
2012       5    5   5   5     5               5                 5            5
2013       5    5   5   5     5               5                 5            5
2014       5    5   5   5     5               5                 5            5
2015       5    5   5   5     5               5                 5            5
2016       5    5   5   5     5               5                 5            5

# How many times does Steph Curry make the All-Star game during this time period?

In [22]:
nbaStats[nbaStats['Player']=='Stephen Curry']

# Answer: 4 Times

,Year,Player,Pos,HT,WT,Team,Selection Type,NBA Draft Status,Nationality
0,2016,Stephen Curry,G,6-3,190,Golden State Warriors,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 7,United States
41,2015,Stephen Curry,G,6-3,190,Golden State Warriors,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 7,United States
63,2014,Stephen Curry,G,6-3,190,Golden State Warriors,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 7,United States
87,2013,Stephen Curry,G,6-3,190,Golden State Warriors,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 7,United States

# How many Shooting Guards have made the All-Star game during this time?

In [28]:
nbaStats.drop_duplicates(['Player']).groupby('Pos').count()[['Player']]

# Answer: There have been 9 different shooting guards during this time.

     Player
Pos
C        20
F        15
F-C       1
FC       14
G        23
G-F       1
GF        8
PF       12
PG        9
SF       11
SG        9

# How many Chicago Bulls players have made the All-Star Game during this time period?

In [31]:
noDuplicates = nbaStats.drop_duplicates(['Player'])
noDuplicates[noDuplicates['Team']=='Chicago Bulls'].count()[['Player']]

# Answer: 5 different Chicago Bulls players have made the All-Star game durign this period.

Player    5
dtype: int64